.mdl-layout__drawer {
  background-color: #1E8BC3;
}

.blog-title {
  margin-top: 16px;
}

nav a.mdl-color-text--grey-300.mdl-navigation__link:hover {
  color: #424242 !important;
}

.mdl-layout-title a {
  text-decoration: none !important;
}

.sub-title {
  font-size: 9px;
  padding-left: 23px;
}

blockquote:after {
  display: none;
}

footer {
  margin-top: auto;
  background-color: inherit !important;
  color: #e0e0e0 !important;
}

#content {
  margin: 16px;
}

#post-tags {
  margin-top: 34px;
}

#prev-next {
  margin-top: 28px;
}

.right {
  float: right;
  text-align: right;
}
